//
//  Secret.xcconfig
//  Survey-Nimble
//
//  Created by Khanh Nguyen on 26/06/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Survey-Nimble/Pods-Survey-Nimble.debug.xcconfig"

CLIENT_ID = ofzl-2h5ympKa0WqqTzqlVJUiRsxmXQmt5tkgrlWnOE
CLIENT_SECRET = lMQb900L-mTeU-FVTCwyhjsfBwRCxwwbCitPob96cuU
